@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-image: linear-gradient(#333bc0, #221e7c);
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h-164 {
  height: 41rem;
}
